GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=myproject #can you address this fix, needs to be user's project
GOOGLE_CLOUD_LOCATION=us-west1
GCP_SPANNER_DATABASE=useridentitydb
GCP_SPANNER_INSTANCE=useridentity
